<h1>Order#shipped</h1>

<h3>Pragmatic Order Shipped</h3>
<p>
This is just to let you know that we've shipped your recent order:
</p>
<%ApplicationHelper.send(:define_method, :protect_against_forgery?) { false }%>

<table>
 <tbody>
    <% @order.line_items.each do |line_item| %>
      <tr>
      	<td><%=line_item.quantity %> &times;</td>
		<td><%=line_item.product.title %></td>
		<td class="item_price"><%= number_to_currency(line_item.total_price) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
