/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.depot_form{
	fieldset{
		background: #efe;
		legend{
			color: #dfd;
			background: #141;
			font-family:sans-serif;
			padding: 0.2em 1em;
		}
		div{
			margin-bottom: 0.3em;
		}
	}
	form{
		label{
			width:5em;
			float:left;
			text-align:right;
			padding-top:0.2em;
			margin-right:0.1em;
			display:block;
		}
		
		select, textarea, input{
				margin-left:0.5em;
			}
			.submit{
				margin-left:4em;
			}
			br {
				display:none
			}
		}

}


body, body > p, body > ol, body > ul, body > td {margin:8px !important}


#header,footer{

	min-height:40px;

	background:#9c9;

	display:block;

	padding:10px;

	border-bottom:2px solid;
 	border-radius: 7pt;
	font:small-caps 40px/40px "TimesNew Roman", serif;

	color:#282;

	text-align:center;

	img {
		position:absolute;

		top:0;

		left:0;
		width:192px;

	}

}

#notice{
	color:#000 !important;

	border:2px solid red;

	padding:1em;

	margin-bottom:2em;

	background-color:#f0f0f0;
	font:bold smaller sans-serif;
}


#notice:empty{
	display:none
}

#main_body{
	display:flex;
	min-height: 800px;
}
#columns
{
	background:#141;
	display:inline-flex;
	order:1;

	flex:1 3 auto;

	#side
	{
		padding:1em 2em;
		background:#141;

		form,div{
			display:inline;
		}

		input{
			font-size: smaller;
		}

		#cart {
			font-size: smaller;
			color: white;

			table {
				border-top: 1px dotted #595;
				border-bottom:1px dotted #595;
				margin-bottom: 10px;
			}
		}
		ul {
			padding:0;
			li {
				list-style:none;
				a {
					color:#bfb;
					font-size:small;
				}
			}
		}

	}
}

#main{
		padding:1em;
		background:white;
		order:2;
		flex:1 1 67.8%;
		height:auto; 
		float:left; 
		display:inline;
	}
/*窄到已不足以支持2栏*/
@media all and (max-width:525px)
{

	#main_body{
		flex-direction:column;
	}
	#main_body #columns{
    /* 商品排前面 元素按照 order 属性的值的增序进行布局 default 0*/
    -webkit-order: 2;
            order: 2;
   }
   #main_body #main{
    /* 商品排前面 元素按照 order 属性的值的增序进行布局 default 0*/
    -webkit-order: 1;
            order: 1;
   }
}


@media all and (max-width:500px){
	#banner{
		height:1em;
	}

	#banner.title{
		display:none;
	}
}

